<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
      <a class="navbar-brand" href="/api/cinema">
        <img id="logo"
          src="/images/logo.png" alt="Logo"
          draggable="false" height="80" style="width:80px;" /></a>
  
      <button class="navbar-toggler" type="button" data-mdb-toggle="collapse"
        data-mdb-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
        aria-label="Toggle navigation">
        <i class="fas fa-bars"></i>
      </button>
  
      <!-- Collapsible wrapper -->
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <!-- Left links -->

        <!-- Left links -->
  
        <form class="d-flex align-items-center w-100 form-search">
          <div class="input-group">

            <ul class="dropdown-menu dropdown-menu-dark fa-ul">
              <li>
                <a class="dropdown-item" href="#"><span class="fa-li pe-2"><i class="fas fa-search"></i></span>All</a>
              </li>
              <li>
                <a class="dropdown-item" href="#"><span class="fa-li pe-2"><i></i>
                <a class="dropdown-item" href="#"><span class="fa-li pe-2"><i
                      class="fas fa-search-plus"></i></span>Advanced
                  Keress<i class="fas fa-chevron-right ps-2"></i></a>
              </li>

            </ul>
            <input type="search" class="form-control" placeholder="Search" aria-label="Search" />
          </div>
          <a href="#!" class="text-white"><i class="fas fa-search ps-3"></i></a>
        </form>
  
        <ul class="navbar-nav ms-3">
          <li class="nav-item me-3">
            <a class="nav-link d-flex align-items-center" href="/api/cinema/sorozatok">Sorozatok</a>
          </li>
          <li class="nav-item">
            <a class="nav-link d-flex align-items-center me-3" href="/api/cinema/filmek">
              <i class="fas fa-bookmark pe-2"></i> Filmek
            </a>
          </li>

          <li class="nav-item">
            <a class="nav-link d-flex align-items-center me-3" href="/api/cinema/ujFilm">
              <i class="fas fa-bookmark pe-2"></i> +Film
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link d-flex align-items-center me-3" href="/api/cinema/ujSorozat">
              <i class="fas fa-bookmark pe-2"></i> +Sorozat
            </a>
          </li>

              <i class="fa fa-caret-down"></i>
            </button>
          <li class="nav-item" style="width: 125px;">
            <a class="nav-link d-flex align-items-center" href="#!">Bejelentkezés</a>
          </li>
          <li class="nav-item" style="width: 105px;">
            <a class="nav-link d-flex align-items-center" href="#!">Regisztráció</a>
          </li>
        </ul>
      </div>
      <!-- Collapsible wrapper -->
    </div>
    <!-- Container wrapper -->
  </nav>
  <!-- Navbar -->